<ion-view view-title="About">
  <ion-content id="img">
    <ion-list>
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/mari.jpg">
      <h2>Maricar Tadena</h2>
      <p>Developer</p>
    </a>

</div>

<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/ako.jpg">
      <h2>Fatima Marie Muring</h2>
      <p>Developer</p>
    </a>

</div>

<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/ryan.jpg">
      <h2>Ryan badana</h2>
      <p>Developer</p>
    </a>
</div>
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/rey.jpg">
      <h2>Rey Depena</h2>
      <p>Developer</p>
    </a>


</div>

   </ion-list>
  </ion-content>
</ion-view>
