<ion-view view-title="Blood Bank">


  <ion-content class="padding" id="img">
  <div class="list">

  <div class="item item-button-right">
    Red Cross Hotline

    <button class="button button-assertive">
      <i class="icon ion-ios-telephone"></i>
       </button>
        <a href="#/tab/RCdetails"  class="button button-assertive" id="but">
      <i class="icon ion-information-circled"></i>
       </a>
  </div>
  <div class="item item-button-right">
    NMMC hotline
    <button class="button button-assertive">
      <i class="icon ion-ios-telephone"></i>
    </button>
     <a href="#/tab/NMMCdetails" class="button button-assertive" id="but">
      <i class="icon ion-information-circled"></i>
       </a>
  </div>
 
</div>
    
  </ion-content>

  
</ion-view>