<ion-view view-title="Check List">


  <ion-content class="padding" id="img">
  <div class="card">
  <div class="item item-text-wrap">
    <h1>Who can Donate Blood?</h1>
    <ul>
    <li>-Are in good health</li>
    <li>-Are between 16-35yrs old(16-17 needs parents consent)</li>
    <li>-Weight atleast 110 pounds</li>
    <li>-Have a blood prssure between:Systolic:90-160mmHg, Diastolic:60-100 mmHg:</li>
    <li>-Pass the physical and health history assestment.</li>

    </ul>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h1>Preparation before Donating Blood </h1>
    <ul>
    <li>1.Have enough rest and sleep.</li>
    <li>2.No alcohol intake 24hrs prior to blood donation.</li>
    <li>3.No medication for atleast 24hrs prior to blood donation</li>
    <li>4.Have someting to eat prior to blood donation, avoid fatty foods.</li>
    <li>5.Drink plenty of fluid, like water or juice.</li>

    </ul>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
    <h1>Steps in Donating Blood</h1>
    <ul>
    <li>1.Have yout taken.</li>
    <li>2.Register and honestly complete the donor registration form.</li>
    <li>3.Have your blood type and hemoglobin checked.</li>
    <li>4.A physicain wil conduct a blood donor examination..</li>
    <li>5.Actual donation-- the amount of blood to be donated(either 350cc or 450cc) will defend on the donors weight and blood pressure it takes usually 10 mins or less.</li>
    <li>6.A 5 to 10 mins of rest and plenty of fluid intake are necessary after donation,</li>

    </ul>
  </div>
</div>
  <div class="card">
  <div class="item item-text-wrap">
    <h1>What to do After Blood Doantion? </h1>
    <ul>
    <li>1.Drink plenty of fluid, like water or juice.</li>
    <li>2.Refrain from stooping after blod donation.</li>
    <li>3.Refrain from strenuous activities like:
      <p>a.Lifting heavy objects</p>
      <p>b.Driving big vehicles such as bus,trucks, and etc.</p>
      <p>c.Operating big machines.</p>
    </li>
    <li>4.Avoid using the punctured arm in lifting heavy objects.</li>
    <li>5.Apply pressure on the punctured site and lift the arm incase the site is still bleeding.</li>
     <li>6.If there is discoloration and swelling on the punctured site, you may apply cold compress for 24hrs.</li>
      <li>7.If there is dizziness, just lay down your feet elevated. Drink plenty of juice, and in just few minutes or so, it will pass.</li>

    </ul>
  </div>
</div>
<a href="#/tab/bloodbank" class="button button-large button-assertive" role="button">Continue</a>
  </ion-content>

  
</ion-view>
