<ion-view view-title="Contacts">
  <ion-content id="img">
    <ion-list>

    <div class="card">
  <div class="item item-text-wrap">
    <h2 id="text">CONTACT US <h2>
    <ul>
       <li><a href="">https://www/facebook.com/BloodHero</a><li>
       <li><a href="">https://www/twitter.com/@BloodHero</a><li>
       <li><a href="">https://www/instagram.com/@BloodHero</a><li>
       <li>Local: 101<li>
       <li>Mobile: 0917543234 <li>
       <li>Telephone:2345-233455 <li>
    </ul>
  </div>
</div>


   </ion-list>
  </ion-content>
</ion-view>
