<ion-view view-title="Create Account">


  <ion-content class="padding">
   <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Full Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">BloodType</span>
    <input type="text" placeholder="Bloodtype">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Contact NO.</span>
    <input type="text" placeholder="Contact">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="Password">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Re-enter Password</span>
    <input type="text" placeholder="Password">
  </label>
</div>
<a href="#/tab/checklist" class="button button-large button-assertive" role="button">Submit</a>
  
  </ion-content>

  
</ion-view>
