<ion-view view-title="Helps">
  <ion-content>
    <ion-list>

<ul>
<h3>Use of Blood Hero: </h3>
<li>1.	User have to SIGN UP first on the BLOOD HERO.</li>
<li>2.	After completing the sign up procedure user will get his password (changeable) through his email address.</li>
<li>3.	Using his password user can login to the apps.</li>
<li>4.	After login user can be registrar as a donor.</li>
<li>5.	Each and every user can search for the donor of several Blood Group.</li>
<li>6.	The apps will show the donor by the basis of your location.</li> 
<li>7.	For that you will get a list of your nearest donor.</li>
<li>8.	You can also search the donor by basis of your selected location.</li>
<li>9.	You can create your friends and family list in the apps.</li>
<li>10.	The receiver can send SMS through the apps to each and every donor from receiver searched list.</li>
<li>11.	The receiver can also make call to these donor whose number will be public.</li>
<li>12.	The Blood Hero authority will make sure that some of our user will be verified and some are not.</li>
<li>13.	For each verified user WE (Blood Hero Authority) will take responsibilities in case of any kind unwanted situation.</li>
<li>14.	Any user can update his some information (as it changed) from the settings option.</li>
<li>15.	You can share the best story of your life as it can inspired people to donate blood and we can save more life.</li>
<li>16.	User can registrar more people as donor.</li>
<li>17.	By that kind of contribution we will declare some best contributor per month publicly through the apps and our web site.</li>
<li>18.	User also be informed about the events of blood through the apps.</li>
<li>19.	User also can find the blood bank numbers.</li>
</ul>


   </ion-list>
  </ion-content>
</ion-view>
