<ion-view view-title="NMMC Details">
  <ion-content class="padding" id="img" >
<div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/logo.jpg">
      <h2 id="text">NMMC BloodBank</h2>
      <ul> 
			<li>NORTHERN MINDANAO MEDICAL CENTER</li>
			<li>Capitol Compound, Cagayan de Oro City</li>
			<li>Trunklines: (08822) 726362; 725735; 723735</li>
			<li>(088) 856-4147</li>
			<li>JOSE C. CHAN, MD, FPOA, FPCS, MHA, FPCHA</li>
			<li>Chief of Hospital III</li>
			<li>Direct Line: (08822) 728829</li>
			<li>Fax. No. : (08822) 721794</li>
			<li>Local: 607</li>
			
	  </ul>
    </a>
    
</div>
 </ion-content>
</ion-view>
