<ion-view view-title="Find a Donor">


  <ion-content class="padding" id="img"  >
  <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
</br>
<div class="list" >

  <div class="item item-button-right" id="text" >
     <img src="img/le.jpeg" id="pic">
    PP001 Type : AB
    <button class="button button-assertive">
      <i class="icon ion-ios-telephone" ></i>
    </button>
  </div>
  <div class="item item-button-right" id="text">
    <img src="img/le.jpeg" id="pic">
   PP002 Type : O
    <button class="button button-assertive" >
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
  <div class="item item-button-right" id="text">
    <img src="img/le.jpeg" id="pic">
    PP003 Type : A
    <button class="button button-assertive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
  <div class="item item-button-right" id="text">
    <img src="img/le.jpeg" id="pic">
    PP004 Type : B
    <button class="button button-assertive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
  <div class="item item-button-right" id="text">
    <img src="img/le.jpeg" id="pic">
    PP005 Type : AB+
    <button class="button button-assertive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>
  <div class="item item-button-right" id="text">
    <img src="img/le.jpeg" id="pic">
    PP006 Type : O+
    <button class="button button-assertive">
      <i class="icon ion-ios-telephone"></i>
    </button>
  </div>

 

</div>
    
  </ion-content>

  
</ion-view>
