<ion-view view-title="RedCross Details">
  <ion-content class="padding" id="img" >
  <div class="list">
<a class="item item-thumbnail-left" href="#">
      <img src="img/cross.png">
      <h2 id="text">RED CROSS BLOOD CENTER</h2>
      <ul> 
			<li>MINDANAO REGIONAL BLOOD CENTER</li>
			<li>c/o Misamis Oriental-Cagayan de Oro City Red Cross Chapter</li>
			<li>Capitol Compound, Cagayan de Oro City</li>
			<li>Fax: (088) 856-8855</li>
			<li>Email: mrbc@redcross.org.ph</li>
			<li>Category: Blood Center</li>
	  </ul>
    </a>

</div>
</ion-content>
</ion-view>

