<ion-view view-title="Settings">
  <ion-content id="img">
    <ion-list>
    <div class="list card">

  <a href="#/tab/profile" class="item item-icon-left">
    <i class="icon ion-person-stalker"></i>
    Profile
  </a>

  <a href="#/tab/about" class="item item-icon-left">
    <i class="icon ion-information-circled"></i>
    About Us
  </a>

  <a href="#/tab/contact" class="item item-icon-left">
    <i class="icon ion-android-contacts"></i>
    Contact
  </a>

  <a href="#/tab/help" class="item item-icon-left">
    <i class="icon ion-help"></i>
    Help
  </a>

   <a href="#/tab/logout" class="item item-icon-left">
    <i class="icon ion-log-out"></i>
   Log Out
  </a>

</div>    </ion-list>
  </ion-content>
</ion-view>
